/* Input textbox - do not specify a width here, it will be overwritten */
.ffb-input {
	float:left;
	color:#000; /* must specify along with watermark color */
	height:16px; /* required for webkit browsers (Safari, Chrome) */
	padding-right:30px;
}
/* Color of watermark, if present */
.ffb-input.watermark { /* added and removed dynamically */
	color:#888; /* must specify along with input color */
}
/* Drop-down arrow, with sprited image */
.ffb-arrow 
{
	float:left;
	width:17px;
	height:17px;
	margin-left:-25px;
	margin-top:8px;
	background: url(/i/sel_classic.jpg) no-repeat;
	cursor:pointer;
}
.ffb-arrow.out { /* css sprite technique */
	background-position:0;
}
.ffb-arrow.over { /* css sprite technique */
	background-position:-17px 0px;
}
.ffb-arrow.active { /* css sprite technique */
	background-position:-17px 0px;
}
.ffb-no-results 
{
	padding:2px;
	color:#888;
	font-style:italic;
	border-bottom:1px solid #828790;
}
/* Container for dropdown contents */
.ffb {
	position:absolute; /* this guy's parent div is hard-coded to position:relative */
	overflow:hidden;
	background:#fff; border: 1px solid #ddd; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin-left:5px;
	margin-top:-1px;
}
/* Inner div for dropdown */
.ffb .content {
	overflow:auto;
}
.ffb .content .row {
	color:#000;
	clear:both;
	padding:10px;
}
.ffb-sel {
	cursor:pointer;
	cursor:hand;
	color:#975c25 !important;
	background-color:#fdbd4c;
}
.ffb-match {
	font-weight:bold;
	color:#000;
}

/* Paging */
.ffb .paging {
	vertical-align:middle;
	text-align:center;
	padding:10px 0;
	margin:0 10px;
	border-top:1px dashed #ddd;
}
.ffb .page, .ffb a.page {
	font-size:11px;
	padding:2px;
	margin:2px;
	color:#975c25;
	text-decoration:underline;
}
.ffb .box {
	width:20px;
	margin:2px;
	padding:5px;
	text-align:center;
	vertical-align:middle;
	border:1px solid #c7c7c7; background:#fdfdf1; border-radius:2px;
}
.ffb .summary {
	font-size:11px;
	color:#ddd;
}

