/*general*/
html {height:100%;}
body {color:#3b3b3b; font-size:11px; font-family:Arial, Helvetica, sans-serif; height:100%; background:#f0f0eb;}
.clear {clear:both; margin-bottom:20px;}
.clears {clear:both; margin-bottom:10px;}
p {color:#3b3b3b; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:20px;}
h1 {color:#1A98E1; font-size:22px; font-family:Arial, Helvetica, sans-serif; line-height:24px; font-weight:normal;}
a {color:#1A98E1; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
a:hover {text-decoration:underline;}

/*login screen*/
#login_form {padding:40px; background:#fff; border:1px solid #dbdbd5; box-shadow:0px 0px 2px 1px #e1e1dc; border-radius:4px; float:left;}
#recover_login {padding:40px; background:#fff; border:1px solid #dbdbd5; box-shadow:0px 0px 2px 1px #e1e1dc; border-radius:4px; float:left;}

/*form elements and buttons*/
label {line-height:20px; color:#61615e; font-size:12px; font-weight:bold; position:relative;}
label.checkbox {font-weight:normal;}
:checked + span {font-weight:bold;}

input {border:1px solid #c7c7c7; border-radius:2px; background:#fff; padding:9px 10px; width:234px; color:#212121; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:0;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {border: 1px solid #1A98E1;}
input[type="text"]:hover, input[type="password"]:hover, textarea:hover {border: 1px solid #999;}
input[type="text"]:focus:hover, input[type="password"]:focus:hover, textarea:focus:hover {border: 1px solid #1A98E1;}
select {border-bottom:1px solid #c7c7c7; border-top:none; border-left:none; border-right:none; background:#fff; padding:7px 8px; width:252px; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:0; border-radius:2px;}
textarea {border:1px solid #c7c7c7; border-radius:2px; background:#fff; padding:9px 10px; width:234px; color:#212121; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:0;}
input[type="checkbox"] {width:20px; vertical-align:text-top;}
input[type="radio"], input[type="checkbox"] {padding:0; margin-right:10px; width:auto;}
input[type="submit"] {background-color:#1A98E1; color:#fff; padding:9px 20px; width:auto; font-size:13px; border-radius:2px; border:1px solid #157DB9; font-weight:bold; text-decoration:none; cursor:pointer;}
input[type="submit"]:hover {background:#2DB2FF;}

#i_expiry_date, #i_expiry_time {width:100px;}

/*buttons, dops, switches*/
.action {background-color:#1A98E1; color: #fff; padding:11px 20px; font-size:13px; border-radius:2px; border:1px solid #157DB9; font-weight:bold; text-decoration:none;}
.action:hover {text-decoration:none; background:#2DB2FF; color:#fff;}
.action:active {text-decoration:none; background:#1A98E1; color:#fff; box-shadow:0 1px 2px 0 #06C inset;}

.actiont {background-color:#F0F0EB; color: #61615E; padding:11px 20px; font-size:13px; border-radius:2px; border:1px solid #dedede; font-weight:bold; text-decoration:none;}
.actiont:hover {text-decoration:none; background:#f0f0f0;}
.actiont:active {text-decoration:none; background:#f0f0f0; box-shadow:0 1px 2px 0 #dedede inset;}

.actionn {background-color:#E95850; color: #fff; padding:11px 20px; font-size:13px; border-radius:2px; border:1px solid #d2423a; font-weight:bold; text-decoration:none;}
.actionn:hover {text-decoration:none; background:#f16159;}
.actionn:active {text-decoration:none; background:#f16159; box-shadow:0 1px 2px 0 #d2423a inset;}


.drop_container {position:relative;}
.drop {padding:10px 32px 10px 20px; margin:0; font-weight:bold; text-decoration:none; color:#61615e; border:2px solid #61615e; border-radius:2px;}
.drop span {border-left:1px solid #61615e; background:none; color:#fff; padding:11px 0 10px 0; margin:0 0 0 20px; position:relative;}
.drop span:before {content:''; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #61615e; position:absolute; top:16px; left:12px;}
.drop span:after {content:''; width: 0; height: 0; border-left: 5px outset transparent; border-right: 5px outset transparent; border-top: 5px solid #fff; position:absolute; top:14px; left:12px;}
.drop:hover {border:2px solid #3b3b3b;}
.drop:hover span {border-left:1px solid #3b3b3b;}
.drop:hover span:before { border-top: 5px solid #3b3b3b;}
.drop_popup {position:absolute; right:0; top:40px; border:1px solid #3b3b3b; border-radius:2px; background:#fff; width:170px; display:none; box-shadow:0px 0px 3px 1px #bababa; z-index:200;}
.drop_popup a {border-top:1px solid #e3e5e7; padding:11px 20px; width:130px;}
.drop_popup a:first-child, .drop_popup a:first-child:hover {border-top:none;}
.drop_popup a:hover {background:#2DB2FF; color:#fff; border-top:1px solid #1A98E1; border-bottom:1px solid #1A98E1; padding:11px 20px 10px 20px;}
.drop.active {border:2px solid #1A98E1; color:#3b3b3b;}
.drop.active span {border-left:1px solid #1A98E1;}
.drop.active span:before {content:''; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #3b3b3b; border-top:none; position:absolute; top:16px; left:12px;}
.drop.active span:after {content:''; width: 0; height: 0; border-left: 5px outset transparent; border-right: 5px outset transparent; border-bottom: 5px solid #fff; border-top:none; position:absolute; top:18px; left:12px;}

.switch {border-radius:4px; padding:4px; background:#D9D9D4; box-shadow:0px 1px 1px 0px #CCC inset; border:1px solid #f0f0f0; border-top:none;}
.switch a {color:#61615e; text-decoration:none; float:left; font-weight:bold; padding:6px 15px; position:relative;}
.switch a.active, .switch a.active:hover {float:left; padding:6px 22px 6px 15px; border-radius:2px; color:#fff; border:1px solid #c7352d; text-shadow:1px 1px 1px #c7352d; background: rgb(233,88,80);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5NTg1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2U5NTg1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMzUzNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(233,88,80,1) 0%, rgba(233,88,80,1) 40%, rgba(211,83,74,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,88,80,1)), color-stop(40%,rgba(233,88,80,1)), color-stop(100%,rgba(211,83,74,1)));
background: -webkit-linear-gradient(top,  rgba(233,88,80,1) 0%,rgba(233,88,80,1) 40%,rgba(211,83,74,1) 100%);
background: -o-linear-gradient(top,  rgba(233,88,80,1) 0%,rgba(233,88,80,1) 40%,rgba(211,83,74,1) 100%);
background: -ms-linear-gradient(top,  rgba(233,88,80,1) 0%,rgba(233,88,80,1) 40%,rgba(211,83,74,1) 100%);
background: linear-gradient(to bottom,  rgba(233,88,80,1) 0%,rgba(233,88,80,1) 40%,rgba(211,83,74,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e95850', endColorstr='#d3534a',GradientType=0 );}
.switch a.active:before {content:''; width:2px; height:15px; border-left:1px solid #c7352d; border-right:1px solid #c7352d; position:absolute; top:5px; right:6px;}
.switch a.active:after {content:''; width:2px; height:15px; border-right:1px solid #c7352d; position:absolute; top:5px; right:12px;}
.switch a:hover {color:#3b3b3b;}

/*menu with current contact, notifications and logut*/
#notify_nav_wraper{width:100%; padding:15px 0px 10px 0px; float:left; background:#EBEBE7; border-bottom:1px dashed #c7c7c7;}
#notify_nav {width:1064px; margin:auto; padding:0;}

#notify_msg {float:right; background:#fff; border-radius:4px; padding:0px; border:1px solid #dbdbd5; box-shadow:0px 0px 2px 1px #e1e1dc; position:relative;}
#notify_msg a {float:left; width:20px; height:20px; background:url(../i/all.png) no-repeat; opacity:0.6; padding:0px; margin:15px; position:relative;}
#notify_msg a:hover, #notify_msg a.active {opacity:0.8;}
#notify_msg a:hover:after {opacity:0.8;}
#notify_msg a:after {content:''; width:1px; height:40px; position:absolute; right:-15px; top:-10px;
background: #d0d0ca; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #d0d0ca 50%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#d0d0ca), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#d0d0ca 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#d0d0ca 50%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#d0d0ca 50%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#d0d0ca 50%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
#notify_msg a:nth-child(1) {background-position:-360px 0px;}
#notify_msg a:nth-child(2) {background-position:-760px -40px;}
#notify_msg a span {position:absolute; top:-3px; right:-3px; background:#e50009; padding:1px 2px; border-radius:2px; font-size:10px; color:#fff; font-weight:bold; opacity:1;}
#notify_msg p {font-weight:bold; float:left; margin:15px 35px 15px 15px; position:relative; cursor:pointer; opacity:0.8;}
#notify_msg p:after {content:''; position:absolute; top:9px; right:-15px; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #61615e;}
#notify_msg p:hover, #notify_msg p.active {opacity:1;}

#msg_adrop {position:absolute; left:0; top:60px; border:1px solid #c7c7c7; box-shadow:0px 0px 2px 1px #e1e1dc; border-radius:4px; background:#fff; width:170px; display:block; z-index:200; display:none;}
#msg_adrop:before {content:''; position:absolute; top:-6px; left:20px; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #c7c7c7 outset;}
#msg_adrop:after {content:''; position:absolute; top:-5px; left:20px; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #fff;}

#msg_pdrop {position:absolute; right:0; top:60px; border:1px solid #c7c7c7; box-shadow:0px 0px 2px 1px #e1e1dc; border-radius:4px; background:#fff; width:170px; display:block; z-index:200; display:none;}
#msg_pdrop:before {content:''; position:absolute; top:-6px; right:20px; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #c7c7c7 outset;}
#msg_pdrop:after {content:''; position:absolute; top:-5px; right:20px; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #fff;}

#msg_adrop a, #msg_pdrop a {border-top:1px solid #e3e5e7; padding:11px 0px; width:130px; height:auto; background:none; opacity:1; margin:0 20px; text-decoration:none; color:#61615e; position:relative;}
#msg_adrop a span{position:absolute; top:10px; right:0px; background:#e50009; padding:1px 2px; border-radius:2px; font-size:10px; color:#fff; font-weight:bold; opacity:1;}
#msg_adrop a:after, #msg_pdrop a:after {content:''; display:none;}
#msg_adrop a:first-child, #msg_adrop a:first-child:hover, #msg_pdrop a:first-child, #msg_pdrop a:first-child:hover {border-top:none;}
#msg_adrop a:hover, #msg_pdrop a:hover {color:#1A98E1; opacity:1;}

#current_contact {float:left; margin:9px 0 0 0;}
#current_contact p {float:left; font-weight:bold; margin:8px 5px 0 0; color:#61615e;}
#current_contact select {float:left;}

/*main menu*/
#main_menu_wraper {width:100%; padding:0px; float:left; background:#ebebe7; border-bottom:1px solid #d0d0d0; box-shadow:0px 2px 2px 1px #e1e1dc;}
#main_menu {width:1064px; margin:10px auto 45px auto; padding:0; position:relative; background:#fff; border-radius:4px; border:1px solid #dbdbd5; box-shadow:0px 0px 2px 1px #e1e1dc; height:53px;}
.nav {float:left; list-style:none; padding:2px 0 0 0; margin:-2px 0 0 0; overflow:hidden;}
.nav li {float:left; position:relative; padding:0; margin:0;}
.nav li a {color:#666; line-height:53px; text-decoration:none; font-weight:bold; float:left; height:53px; padding:0 20px 0 42px;}
.nav li a:hover, .nav li.active a{cursor:pointer; color:#3b3b3b;}
.nav li:after {content:''; width:1px; height:40px; position:absolute; right:-0px; top:8px;
background: #d0d0ca; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #d0d0ca 50%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#d0d0ca), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#d0d0ca 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#d0d0ca 50%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#d0d0ca 50%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#d0d0ca 50%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.nav li:before {content:''; position:absolute; top:17px; left:15px; width:20px; height:20px; background:url(../i/all.png) no-repeat; opacity:0.6;}
.nav li:hover:before, .nav li.active:before {opacity:0.8;}
.nav li#a1:before {background-position:-80px -122px;}
.nav li#a2:before {background-position:-640px -1px;}
.nav li#a3:before {background-position:-441px -162px;}
.nav li#a4:before {background-position:-481px -162px;}
.nav li#a5:before {background-position:-401px -162px;}
.nav li#a6:before {background-position:-760px -162px;}
.nav li#a7:before {background-position:-280px -162px;}
.nav li#a8:before {background-position:-559px -1px;}
.nav li.active a:before, .nav li.active:hover a:before {content:''; position:absolute; top:-2px; left:10%; height:2px; width:80%; background:#E95850;}
.nav li a:hover:before {content:''; position:absolute; top:-1px; left:10%; height:1px; width:80%; background:#E95850;}

#nav_swap {position:absolute; top:53px; left:392px;}
#nav_swap a {float:left; font-size:10px; font-weight:bold; text-decoration:none; text-align:center; color:#fff; padding:0 20px; background:#E95850; box-shadow:0px 1px 1px 0px #e1e1dc; position:relative; height:30px; width:100px; line-height:30px; z-index:99; border-radius:0 0 5px 5px;}
#nav_swap a:before {content:''; position:absolute; top:0; left:-10px; width:0; height:0; border-top: 26px solid #E95850; border-left: 10px solid transparent;}
#nav_swap a:after {content:''; position:absolute; top:0; right:-10px; width:0; height:0; border-top: 26px solid #E95850; border-right: 10px solid transparent;}
#nav_swap a.active {background:#fff; z-index:100; color:#61615e;}
#nav_swap a.active:before {content:''; position:absolute; top:0; left:-10px; width:0; height:0; border-top: 26px solid #fff; border-left:10px solid transparent; }
#nav_swap a.active:after {content:''; position:absolute; top:0; right:-10px; width:0; height:0; border-top: 26px solid #fff; border-right:10px solid transparent; }

.ms a.prev, .ms a.next {width:16px; height:16px; position:absolute; top:19px; background:#1A98E1; z-index:101; border-radius:2px;}
.msu a.prev:hover, .ms a.next:hover {background:#2DB2FF;}
.ms a.prev {left:-8px;}
.ms a.next {right:-8px;}
.ms a.prev:after {content:''; position:absolute; top:3px; left:4px; width:0; height:0; border-bottom:5px solid transparent; border-top:5px solid transparent; border-right:5px solid #fff;}
.ms a.next:after {content:''; position:absolute; top:3px; right:4px; width:0; height:0; border-bottom:5px solid transparent; border-top:5px solid transparent; border-left:5px solid #fff;}


/*content container*/
#content_wraper{width:100%; padding:0px;  float:left;}
#content_container{width:1024px; margin:22px auto 20px auto; padding:20px; background:#fff; border:1px solid #dbdbd5; box-shadow:0px 0px 2px 1px #e1e1dc; border-radius:4px; position:relative;}
#content_container:before {content:''; position:absolute; top:-2px; left:20px; width:220px; height:2px; background:#61615E;}

/*sec menu*/
#nav_sec_wraper {position:absolute; top:0; left:20px; width:220px; z-index:100;}

#nav_sec {list-style:none; padding:0; margin:0; width:220px; background:#61615E; box-shadow:0px 1px 1px 0px #e1e1dc; float:left; border-radius:0 0 2px 2px; display:none;}
#nav_sec li {float:left; position:relative; padding:0; margin:0; width:220px;}
#nav_sec li a {float:left; font-size:10px; font-weight:bold; text-decoration:none; color:#fff; margin:0 20px; width:180px; position:relative; height:30px; line-height:30px; border-top:1px solid #777;}
#nav_sec li:first-child a {border-top:none;}
#nav_sec li:last-child a {height:32px;}
#nav_sec li a:hover {color:#E95850;}

a.sec_slide {float:left; font-size:10px; font-weight:bold; text-decoration:none; text-align:center; color:#fff; padding:0 25px 0 20px; background:#61615E; box-shadow:0px 1px 1px 0px #e1e1dc; position:relative; height:30px; width:130px; line-height:30px; border-radius:0 0 5px 5px; margin:0 0 0 22px;}
a.sec_slide:before {content:''; position:absolute; top:0; left:-10px; width:0; height:0; border-top: 26px solid #61615E; border-left: 10px solid transparent;}
a.sec_slide:after {content:''; position:absolute; top:0; right:-10px; width:0; height:0; border-top: 26px solid #61615E; border-right: 10px solid transparent;}
a#sec_title span {content:''; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; position:absolute; top:14px; right:25px;}
a#sec_title_close {display:none;}
a#sec_title_close span {content:''; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #fff; position:absolute; top:14px; right:25px;}

/*third menu*/
#nav_thrd {float:left; margin:0 0 20px 250px; clear:both; border-radius:2px 0 2px 0; background:#F0F0EB; position:relative; height:34px; clear:both;}
#nav_thrd:before {content:''; position:absolute; top:1px; left:-12px; width:0; height:0; border-bottom: 33px solid #F0F0EB; border-left: 12px solid transparent;}
#nav_thrd:after {content:''; position:absolute; top:0; right:-12px; width:0; height:0; border-top: 33px solid #F0F0EB; border-right: 12px solid transparent;}
#nav_thrd a {float:left; padding:0px 20px; margin:0; text-decoration:none; font-weight:bold; font-size:10px; color:#61615E; line-height:31px; height:34px; position:relative; border-radius:2px 0 2px 0;}
#nav_thrd a:hover {color:#E95850;}
#nav_thrd a:hover:before {content:''; width:60%; height:1px; background:#E95850; position:absolute; top:-1px; left:20%;}
#nav_thrd a.active:hover:before {content:''; background:none;}
#nav_thrd a span {border-bottom:1px dashed #61615E;}
#nav_thrd a.active {background:#61615E; color:#fff; box-shadow:0px 0px 1px 1px #e1e1dc;}
#nav_thrd a.active:before {content:''; position:absolute; top:1px; left:-12px; width:0; height:0; border-bottom: 33px solid #61615E; border-left: 12px solid transparent;}
#nav_thrd a.active:after {content:''; position:absolute; top:0; right:-12px; width:0; height:0; border-top: 33px solid #61615E; border-right: 12px solid transparent;}


/*tables*/
table {width:100%; color:#212121; font-family:Arial, Helvetica, sans-serif; font-size:12px; position:relative;}
table:after {content:''; position:absolute; top:0px; left:0px; width:0; height:0; border-top: 38px solid #fff; border-right:9px solid transparent; }
table tr:nth-child(2n+1) {background:#f7f7f7;}
table tr th {padding:12px 10px; color:#fff; text-align:left; border-right:1px solid #1C8AC7; background:#1A98E1;}
table tr td {padding:12px 10px; border-right:1px solid #f1f1f1; font-size:11px;}
table tr td:first-child {border-left:1px solid #f1f1f1;}
table tr:last-child {border-bottom:1px solid #f1f1f1;}
table tr td span {background:#e95850; color:#fff; padding:1px 8px; margin:0 0 0 10px; border-radius:2px; font-weight:bold;}
table a {font-size:11px;}

/*form validation*/
.valid {}
.error { border: 1px solid #F16159;}
input.error:focus, textarea.error:focus {border: 1px solid #F16159;}
input.error:focus:hover, textarea.error:focus:hover {border: 1px solid #F16159;}
.validarium-error { color:#fff; position:absolute; top:-5px; left:0px; background:#F16159; padding:2px 5px; font-size:11px; font-weight:normal; min-width:246px; border-radius:2px 2px 0 0; z-index:2;}

#i_loading_dialog, #recover_login, #dialog-confirm {display: none;}
