{foreach $Objects as $Item name="list"}
	<tr {if $Item->viewed==0}style="font-weight:bold; background:#d6deec "{/if}>
		<td>{$Item->FromUser->user_fname} {$Item->FromUser->user_lname}</td>
		<td>{$Item->created}</td>
		<td>{t}Кому{/t}: {$Item->ToUser->user_fname} {$Item->ToUser->user_lname}
			{$CCUsers=$Item->CCUsers}
			{if count($CCUsers) > 0}
				<br />{t}Копия{/t}: {foreach $CCUsers as $CCItem name='ccusers'}{$CCItem->user_fname} {$CCItem->user_lname};<br />{/foreach}
			{/if}
			{$Item->message}</td>
		<td align="center">
			<a href="javascript:void(0);" class="delete_object" rel="del_{$Item->id}"><img src="/i/delete.png" alt="delete"/></a>
		</td>
	</tr>
{/foreach}
