{foreach $Objects as $Item name="list"}
<tr>
	<td><a href="/mcategories/task_categories/edit/{$Item->id}/{$Node->id}/index.html">{$Item->title}</a></td>
	<td>{$Item->sdesc}</td>
	<td align="center">
		<a href="javascript:void(0);" class="delete_object" rel="del_{$Item->id}"><img src="/i/delete.png" alt="delete"/></a>
	</td>
</tr>
{/foreach}
