{foreach $Objects as $Item name="list"}
<tr>
	<td><a href="/musers/edit/{$Item->id}/index.html">{$Item->user_lname} {$Item->user_fname}</a></td>
	<td>{$Item->user_ogin}</td>
	<td></td>
	<td>{$Item->created}</td>
	<td align="center">
		{if $Item->id == $User->id || $Item->id == 1}
		{else}<a href="javascript:void(0);" class="delete_object" rel="del_{$Item->id}"><img src="/i/delete.png" alt="delete"/></a>{/if}
	</td>
</tr>
{/foreach}
